body {
    background-color: #f4f4f4;
    overflow-x: hidden;
}

.banner{
    height: 200px;
    background-color: rgb(73, 73, 73);
}

#foto{
    position: absolute;
    width: 150px;
    border-radius: 50%;
    left: 3%;
    bottom: 36%;
}

.informacoes{
    padding-left:3%;
    margin-top: 6%;
    max-width: 97%;
}

.unicesumar{
    position: absolute;
    width: 130px;
    right: 5%;
}

.card{
    display: flex;
    text-decoration: none;
}

.redessociais{
    margin-left: 1%; 
    text-decoration: none; 
    color: black;
}