body {
    background-color: #f4f4f4;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 3% 0;
}
.card {
    display: flex;
    flex-direction: row;
    width: 75%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

.Informacoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 200px;
}
.Nome {
    font-size: 1.5em;
    margin-bottom: 15px;
    
}
.Texto {
    font-size: 1em;
    color: #666;
}
.card:nth-child(odd) {
    align-self: flex-start;
}
.card:nth-child(even) {
    align-self: flex-end;
}